@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>User</h2>

@User.Identity.GetUserId()

<div>
    @Html.ActionLink("Log out", "LogOff")
</div><div>
    @Html.ActionLink("Log in", "Login")
</div>

